name: "Draft Release (Java)"

on:
  workflow_call:
    inputs:
      java_version:
        description: 'The version of the jdk to use.'
        type: number
        default: 25
        required: false
      draft_version:
        description: 'The draft version to use'
        type: string
        default: ''
        required: false

jobs:
  action:
    name: "Action"
    runs-on: ubuntu-latest
    steps:

      - name: "Checkout Repository"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-tags: true
          fetch-depth: 0

      - name: "Setup Java ${{ inputs.java_version }}"
        if: ${{ inputs.draft_version == '' }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          java-version: "${{ inputs.java_version }}"
          distribution: "temurin"

      - name: "Setup Gradle"
        if: ${{ inputs.draft_version == '' }}
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5

      - name: "Prepare Draft Version"
        id: prepare
        env:
          DRAFT_VERSION: ${{ inputs.draft_version }}
        run: |
          set -euo pipefail
          if [ -z "$DRAFT_VERSION" ]; then
            DRAFT_VERSION=$(./gradlew -q :properties | sed -n 's/^version: \([^-]*\).*/\1/p')
            if [ -z "$DRAFT_VERSION" ]; then
              echo "ERROR: Failed to extract version from Gradle properties"
              exit 1
            fi
          fi
          echo "version=$DRAFT_VERSION" >> $GITHUB_OUTPUT

      - name: "Checkout CI Scripts"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          repository: xpdustry/.github
          path: .github/shared-ci
          sparse-checkout: |
            scripts/draft-release-java

      - name: "Setup Python"
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: '3.14'

      - name: "Generate Draft"
        run: |
          pip install -r .github/shared-ci/scripts/draft-release-java/requirements.txt
          python .github/shared-ci/scripts/draft-release-java/action.py \
            --output GENERATED_CHANGELOG.md \
            --repository_url "$GITHUB_SERVER_URL/$GITHUB_REPOSITORY"

      - name: "Publish Draft Release"
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          name: "v${{ steps.prepare.outputs.version }}"
          draft: true
          tag_name: "v${{ steps.prepare.outputs.version }}"
          body_path: "GENERATED_CHANGELOG.md"
